<% provide(:title, "About Us")%>
<div class="width">
    <div class="card mb-3" style="width: 40rem;">
        <%= image_tag "me.jpg", class: "card-img-top"%>
        <div class="card-body">
            <h5 class="card-title">This is me</h5>
            <p class="card-text">I'm Taiga. i live in Nagoya Pre. My hobbeies are doing squbadiving, watching movies and traveling aborord, domestic as well</p>
            <a  href="https://www.instagram.com"><button type="button" class="btn btn-primary btn-lg">More About(Instgram Account)</button></a>            
        </div>
    </div>
</div>
